<h1 mat-dialog-title>Live MCQ সাম্প্রতিক সমাচার - মে - জুন, ২০২১ দেয়া হয়েছে।</h1>
<div mat-dialog-content>
    
    ডাউনলোড করতেঃ <br>
    Live MCQ অ্যাপ বা সাইটের মেনু --> লেকচার ও পিডিএফ --> সাম্প্রতিক সমাচার অপশনে দেখুন। <br>
    
    -------------------- <br><br>
     
    ব্যাংক প্রস্তুতি - নতুন রুটিন PDF <br>
    (ডিস্কাউন্ট অফার চলছে। বিস্তারিত নিচে দেয়া আছে।) <br>
    পরীক্ষা শুরুঃ ১২ জুন, ২০২১ <br>
    পুরো সিলেবাসঃ ১০০ দিন <br>
    মোট পরীক্ষার সংখ্যাঃ ৩০টি (১০টি ফুল মডেল টেস্টসহ) <br>
    PDF পেতে অ্যাপ বা সাইটের মেনু থেকে "লেকচার ও পিডিএফ" অপশনে দেখুন। <br>
    --------------------- <br>
    প্রিয় ব্যবহারকারীগণ, <br>
    আশা করি সবাই ভাল আছেন। <br>
     
    ব্যাংক প্রস্তুতির নতুন রুটিন দেয়া হয়েছে। প্রতি ১০০ দিনে মোট ৩০টি পরীক্ষার মাধ্যমে ব্যাংক পরীক্ষার পূর্ণ <br>প্রস্তুতি সম্পন্ন করা হবে।<br>
    যেহেতু, একবার শেষ হলে আবার প্রথম থেকে শুরু হবে অর্থাৎ, চক্রাকারে পরীক্ষা চলতে থাকবে। তাই, রুটিনের মাঝে থেকে শুরু <br>করলেও পরবর্তী ১০০ দিনে পুরো সিলেবাস শেষ করতে পারবেন।<br><br>
    
    ------------------------<br><br>
    পরীক্ষার বিস্তারিতঃ<br>
    Math - ১০টি<br>
    English - ৫টি<br>
    Computer and Science - ৩টি<br>
    বাংলা সম্পূর্ণ – ১টি<br>
    সাম্প্রতিক বিষয়াবলী - ১টি<br>
    ফুল মডেল টেস্ট – ১০টি<br>
    ------------------------<br><br>
    
    উল্লেখ্য, বাংলা ও সাধারণ জ্ঞানের পূর্ণাঙ্গ প্রস্তুতির জন্য Live MCQ এর অন্যান্য বাটনগুলো অনুসরণ করে পরীক্ষা <br>চালিয়ে যাবেন।<br>
    পাশাপাশি, Live MCQ Bank Job Solution বাটনে নিয়মিত পরীক্ষা দিবেন। আশা করি এতেই পূর্ণাঙ্গ প্রস্তুতি হয়ে যাবে।<br>
    
    আপনাদের জন্য শুভকামনা রইল।<br>
    ধন্যবাদ।<br>
    
    ----------------<br>
    
    স্পেশাল ডিস্কাউন্ট অফার<br>
    প্রিয় Live MCQ ব্যবহারকারীগণ,<br>
    আশা করি সবাই ভাল আছেন।<br>
    
    ৫ জুন থেকে ৫ জুলাই, ২০২১ পর্যন্ত Live MCQ এর বার্ষিক ও ষাণ্মাসিক প্যাকেজে স্পেশাল ডিস্কাউন্ট অফার চলছে।
    
    এই বছরে আর কোন ডিস্কাউন্ট অফার আসবে না।
    তাই, যারা নিয়মিত পরীক্ষা দিচ্ছেন তারা নিশ্চিন্তে পরীক্ষা দিতে এবং অর্থ সাশ্রয় করতে চলমান ছাড়ের মধ্যেই প্যাকেজ নিয়ে নিন।
    পাশপাশি, জুনেই গুরুত্বপূর্ণ কিছু নতুন ফিচার আসবে। সুলভ মূল্যে Live MCQ এর সকল সুবিধা পেতে বার্ষিক/ষাণ্মাসিক প্যাকেজ আপনাদের জন্য বেস্ট অপশন।
    ডিস্কাউন্ট অফারের বিস্তারিত নিচে দেয়া হল।
    
    ---------------<br><br>
    বার্ষিক প্যাকেজ (২০০ টাকা ডিস্কাউন্ট)
    ১৪০০ টাকার প্যাকেজ এখন মাত্র ১২০০ টাকা
    
    প্যাকেজের সুবিধাসমূহঃ
    প্যাকেজ কেনার দিন থেকে পরবর্তী ৩৬৫ দিনের জন্য,
    - সকল বাটনের সকল লাইভ এবং আর্কাইভের পরীক্ষা দিতে পারবেন। আর্কাইভ বাটনগুলোতে আমাদের আগের সকল পরীক্ষার ১.২ লাখ++ Exclusive MCQ এবং রেফারেন্সসহ ব্যাখ্যা আছে।
    - Premium Module এর #স্মার্ট_সার্চ, আপডেটেড তথ্যের #ডায়নামিক_প্যানেল, বিসিএস প্রস্তুতির কনফিউজিং প্রশ্নের চলমান সংকলন #তথ্যকল্পদ্রুম সহ আসন্ন সকল ফিচারের সুবিধা পাবেন।<br><br>
    
    অর্থাৎ, এই প্যাকেজে ৩৬৫ দিনের জন্য Live MCQ এর সকল পরীক্ষা এবং সকল ফিচারের এক্সেস পাবেন।
    
    -------------<br><br>
    ষাণ্মাসিক প্যাকেজ (১০০ টাকা ডিস্কাউন্ট)
    ৮০০ টাকার প্যাকেজ এখন মাত্র ৭০০ টাকা
    
    প্যাকেজের সুবিধাসমূহঃ
    প্যাকেজ কেনার দিন থেকে পরবর্তী ১৮০ দিনের জন্য,
    - সকল বাটনের সকল লাইভ এবং আর্কাইভের পরীক্ষা দিতে পারবেন। আর্কাইভ বাটনগুলোতে আমাদের আগের সকল পরীক্ষার ১.২ লাখ++ Exclusive MCQ এবং রেফারেন্সসহ ব্যাখ্যা আছে।
    - Premium Module এর স্মার্ট সার্চ, আপডেটেড তথ্যের ডায়নামিক প্যানেল, বিসিএস প্রস্তুতির কনফিউজিং প্রশ্নের চলমান সংকলন #তথ্যকল্পদ্রুম সহ আসন্ন সকল ফিচারের সুবিধা পাবেন।
    অর্থাৎ, এই প্যাকেজে ১৮০ দিনের জন্য Live MCQ এর সকল পরীক্ষা এবং সকল ফিচারের এক্সেস পাবেন।<br><br>
    
    -----------------------
    ডিস্কাউন্ট অফারটি ৫ জুলাই, ২০২১ পর্যন্ত চলবে।
    -----------------------<br><br>
    আর্কাইভের প্রশ্ন সংখ্যাঃ
    গণনার তারিখঃ ৫ জুন, ২০২১
    মোট প্রশ্ন সংখ্যাঃ ১ লক্ষ ২০ হাজার প্রায়।
    বিঃদ্রঃ আমাদের সকল প্রশ্ন সুযোগ্য ক্যাডার এবং নন-ক্যাডার কর্মকর্তাগণ তাদের মেধা, সময় ও শ্রম দিয়ে করেন।
    আমাদের আর্কাইভ থেকে প্রশ্ন চুরি করে যে সকল প্ল্যাটফর্ম চলছে তাদেরকে আইনের আওতায় আনার বিষয়টি প্রক্রিয়াধীন আছে।
    কপিরাইটের বিষয়ে আমরা শুরু থেকেই শক্ত অবস্থানে ছিলাম, আগামীতেও থাকব। মেধাস্বত্বের নিরাপত্তা বিধান আমাদের সকলের নৈতিক দায়িত্ব।
    
    ------------------------<br><br>
    
    কিছু তথ্যঃ
    
    - আপনার অ্যাপ Uninstall করলে, ফোন হারিয়ে গেলে বা কোন কারণে ফোন পরিবর্তন করলে আপনার প্যাকেজ এবং একাউন্টের তথ্য হারানোর কোন সম্ভাবনা নেই। নতুন ডিভাইসে একই ফেসবুক বা জিমেইল দিয়ে লগইন করলেই সব তথ্য পেয়ে যাবেন।
    
    - আপনার সকল ডাটা আমাদের সার্ভারে নিরাপদে থাকে। তাই, প্যাকেজ নেয়ার পর নিশ্চিন্তে ব্যবহার করুন।
    Live MCQতে প্রশ্ন তথা পরীক্ষা সংখ্যা বাড়ানোর কারনে পরীক্ষা প্রতি পে করে তাল মেলাতে আপনাদের সমস্যা হবে। তাছাড়া, অনেকেই গুরুত্বপূর্ণ বিভিন্ন পরীক্ষা স্কিপ করছেন। এখানে ক্রমান্বয়ে যে পরিমাণ প্রশ্ন যোগ হচ্ছে, তাতে, কিছুদিন পর Live MCQ এর বাইরে থেকে যেকোনো চাকরির পরীক্ষায় প্রশ্ন আসা কঠিন হবে। তাই, পরীক্ষাগুলো অন্তত দেয়ার চেষ্টা করবেন। এতে করে রেগুলার পড়ার পাশপাশি প্রচুর পরিমাণে গুরুত্বপূর্ণ প্রশ্ন এবং ব্যাখ্যা আপনি জানতে পারবেন।
    
    সবার জন্য শুভকামনা জানিয়ে শেষ করছি।
    ধন্যবাদ।
    
    ------------------<br><br>
    
    শুভকামনায়,
    Live MCQ Team.
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="primary">ok</button>
</div>
