<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img class="logo" src="../../../assets/logo.png" alt="" />
          </div>

          <h1 class="text-center">Login Here !!</h1>

          <!-- {{loginData | json}} -->

          <form (ngSubmit)="formSubmit()">
            <!-- Username -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                [(ngModel)]="loginData.username"
                name="username"
                matInput
                placeholder="Enter here"
                required
              />
              <mat-hint>Valid User Name</mat-hint>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
              [(ngModel)]="loginData.password"
                type="password"
                name="password"
                matInput
                placeholder="Enter here"
                required
              />
            </mat-form-field>

            <!-- Register & clear button -->
            <div class="container text-center">
              <sa-spinner-round-outlined *ngIf="showSpinner"></sa-spinner-round-outlined> <br>
              <button mat-raised-button (click)="openDialog()" color="primary" type="submit">Login</button>
              <button class="ml10" mat-raised-button color="accent">
                Reset
              </button>
            </div>
          </form>
        </mat-card>
        
      </div>
    </div>
  </div>
</div>
