.live{
    background-color: #ff6c2c;
    cursor: pointer;
    color: white;
}
.truncate{
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.example-card {
    max-width: 200px;
  }
  