<mat-card>
    <mat-action-list>
        <div mat-subheader>মেনু</div>
        <button mat-list-item routerLink="/admin"><mat-icon mat-list-icon>home</mat-icon>হোমপেজ</button>

        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> আপনার প্রফাইল 
        </button>

        <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon>ক্যাটাগরি 
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>অ্যাড ক্যাটাগরি 
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>quiz</mat-icon>কুইজ 
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add</mat-icon>অ্যাড কুইজ 
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>logout</mat-icon>লগ আউট 
        </button>
    </mat-action-list>
</mat-card>