<mat-card class="mt20">
    <mat-card class="ml20 mr20 mt20 mb20 live">
        <h1 class="text-center" [routerLink]="'/user-dashboard/quiz/'+subcategoryId">Enter Exam</h1>
    </mat-card>
    <mat-list>
        <div class="bootstrap-warpper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card">
                            <img mat-card-image src="/assets/routine.png">
                            <mat-card-title mat-button class="text-center">রুটিন</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>

                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card ">
                            <img mat-card-image src="/assets/result.png">
                            <mat-card-title mat-button class="text-center">ফলাফল</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>


                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card">
                            <img mat-card-image src="/assets/archive.png">
                            <mat-card-title mat-button class="text-center">আর্কাইভ</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>

                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card">
                            <img mat-card-image src="/assets/statistics.png">
                            <mat-card-title mat-button class="text-center">পরিসংখান</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>

                    
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card">
                            <img mat-card-image src="/assets/favorite.png">
                           
                            <mat-card-title mat-button class="text-center">ফেভারিট</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>

                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card">
                            <img mat-card-image src="/assets/meritlist.png">
                            <mat-card-title mat-button class="text-center">মেধাতালিকা</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>


                    <div class="col-md-3 col-sm-6 cursor">
                        <mat-card class="example-card">
                            <img mat-card-image src="/assets/syllabus.png">
                            <mat-card-title mat-button class="text-center">সিলেবাস</mat-card-title>
                          </mat-card>
                        <br> <br> <br>
                    </div>

                </div>
            </div>
        </div>
    </mat-list>

    <br>
    <br>
</mat-card>